.breadcrumb {
    display: flex;
    column-gap: 20px;
    align-items: center;
    text-transform: capitalize;
    &-link {
        color: $gray-500;
    }
    &-sperator {
        background-color: lighten($main-color, 40);
        border-radius: 50%;
        width: 15px;
        height: 15px;
        color: $main-color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .5rem;
    }
}